@oceantech:registry=http://nexus.oceantech.com.vn/repository/oceantech-npm/
//nexus.oceantech.com.vn/repository/oceantech-npm/:_authToken=NpmToken.10fc2cb2-5b3f-30a3-9e9c-74e34f17db74
registry=https://registry.npmjs.org/